@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', 'sans-serif';
    font-size: 81.25%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.advance__body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../img/background.jpg);
}

.search{
    display: flex;
    justify-content: center;
    
}

.form{
    display: grid;
    justify-items: center;
    gap: 3rem;
}

.advance__form{
    gap: 1.6rem;
}

.submit{
    padding: .3rem 1rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 0.25rem;
}

.bar{
    border-radius: 1.5rem;
    height: 3rem;
    width: 40vw;
    border: none;
    box-shadow: 0 2px 16px hsla(219, 38%, 8%, .9);
    padding-inline-end: 24px;
    padding-inline-start: 32px;
    font-size: 1.2rem;
}

input{
    outline: none;
}

.nav{
    display: flex;
    justify-content: flex-end;
    height: 4rem;
    align-items: center;
    gap: 1rem;
    margin-right: 1.5rem;
}

a{
    text-decoration-color: transparent;
    color: white;
    font-size: .95rem;
    transition: all .25s;
}

a:hover{
    text-decoration-color: white;
}

.google{
    margin-top: 2.5rem;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    margin-bottom: 3.5rem;
    color: white;
    font-weight: bold;
}
.google__advance{
    font-size: 2rem;
    margin-bottom: 2.5rem;

}

.advance__search {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    background-color: rgba(54, 54, 54, 0.483);
    padding: 1rem;
    border-radius: .4rem;
    text-align: center;
}

.advance__bar{
    width: 35vw;
    height: 2rem;
}

.advance__title{
    color: white;
}
.advance__sub{
    color: white;
}
.advance__submit{
    background: #3055a5;
    color: white;
}
.small__search{
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: flex-end;
}
.submit__button{
    display: flex;
    gap: 1rem;
}